*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

header{
    color: #fff;
}

.headerTop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px;
    background-color: #B23437;
    font-size: 0.75rem;
    letter-spacing: 2px;
}
  
.headerTop i {
    font-size: 15px;
}

.textHeader span{
    font-weight: bold;
}

.contato{
    display: flex;
    gap: 20px;
}

.contato div{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.headerMiddle{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerMiddle img{
    width: 257px;
}

.botoesMiddle{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btnAgendar, .btnResultadoExames{
    font-size: 0.75rem;
    color: #fff;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btnAgendar{
    background-color: #B23437;
}

.btnAgendar:hover{
    background-color: #3B468F;
}

.btnResultadoExames{
    background-color: #3B468F;
}

.btnResultadoExames:hover{
    background-color: #B23437;
}

.headerNav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.headerNav a{
    text-decoration: none;
    font-size: 0.70rem;
    color: black;
    padding: 15px 8px 1.3rem;
    border-top: 4px solid transparent;
}

.headerNav a:hover{
    border-top: 4px solid #3B468F;
    color: #3B468F;
}

.slider{
    height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slides{
    display: flex;
    transition: transform 0.5s ease;
}

.slide{
    min-width: 100%;
}

.slide.active{
    display: block;
}

.prev, .next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.prev{ left: 10px; }
.next{ right: 10px; }

.bemVindo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 2rem;
}

.sobreNos{
    max-height: 500px;
    position: relative;
}

.sobreNos img{
    max-height: 500px;
    max-width: 500px;
}

.textoBemVindo{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    position: absolute;
    bottom: 0;
    background-color: #3B468F;
    width: 100%;
    max-width: 500px;
    height: 45%;
    color: #fff;
    transition: 0.4s ease-in-out;
}

.textoBemVindo h2{
    font-size: 1.2rem;
    max-width: 60%;
    margin-top: 1rem;
}

.textoBemVindo p{
    font-size: 0.75rem;
    max-width: 90%;
    text-align: justify;
    line-height: 1.2rem;
}

.sobreNos:hover .textoBemVindo{
    height: 65%;
    padding: 1.5rem 0 0 0;
    gap: 1.5rem;
}

.textoExtra{
    font-size: 0.85rem !important;
    opacity: 0;
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.sobreNos:hover .textoExtra{
    opacity: 1;
}

.textoExtra:hover{
    text-decoration: underline;
}

.areasAtuacao {
    padding: 1rem;
    max-width: 400px;
}

.areasAtuacao h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.gridAreas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
}

.area {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.area span{
    font-weight: bold;
}

.areasAtuacao img {
    height: 108px;
    width: 111px;
}